<div id="wrap">
<ul>
	<li>{{#link-to 'index'}}Home{{/link-to}}</li>
	<li>{{#link-to 'about'}}About{{/link-to}}</li>
	<li>{{#link-to 'contact-us'}}Contact Us{{/link-to}}</li>
	<li>{{#link-to 'songs'}}Songs{{/link-to}}</li>
	<li>{{#link-to 'reddit'}}Reddit{{/link-to}}</li>
	<li>{{#link-to 'search'}}Search Demo{{/link-to}}</li>
	<li class="red">{{#link-to 'artists'}}Artists{{/link-to}}</li>
</ul>
<div id="content">
{{outlet}}
</div>
</div>
<hr>
&#169; Jenny Zhang